/*
  STYLE GUIDE STYLING
*/

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* GENERAL STYLING */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family:"Geonik-Pro-Regular";
  src: url("../fonts/Geonik-Pro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Noto-Sans-Regular";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  --color_primary: #3D405B;
  --color_hover: #A5FFD6;
  --color_button: #166379;
  --color_page_background: #EDF2F4;
  --color_white: #FFFFFF;

  font-size: 18px;
  line-height: 20px;
  font-family: 'Noto-Sans-Regular', sans-serif;
  background-color: var(--color_white);
}

code {
  background-color: var(--color_page_background);
  padding: 0.5rem;
  display: block;
}

.top_space{
  padding-top: 120px;
}




/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* TITLE ELEMENTS */

/* CSS format from "Ecommerce Product Page Design" tutorial by GeekProbin */
.portfolio_title_large
.portfolio_title_medium
.portfolio_title_small{
  padding: 0.6rem 0;
  text-transform: capitalize;
  font-family: 'Noto-Sans-Regular';
}

.portfolio_title_large{
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.portfolio_title_medium {
  font-size: 2rem;
  text-align: center;
}

.portfolio_title_small {
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
}

.portfolio_text_light {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
  margin: 0.2rem 0;
  text-align: center;
}













/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* NAVIGATION HEADER */

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color_page_background);   /* Changed background property in header to add colour to entire header element */
  padding: 28px 12%;
  transition: all .50s ease;
}

.header{
  height: 100vh;
  width: 100%;
  padding: 0 0%;
  position: relative;
}

nav{
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo{
  display: flex;
  align-items: right;
  width: 70px;
}

.logo i{
  color: var(--color_primary);
  font-size: 28px;
  margin-right: 3px;
}

.logo span{
  color: var(--color_primary);
  font-size: 1.7rem;
  font-weight: 600;
}

.navigation_bar{
  display: flex;
}

.navigation_bar li{
  display: inline-block;
}

.navigation_bar li a{
  color: var(--color_primary);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  box-shadow: inset 0 0 0 0 var(--color_button);
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  position: relative;
}

.navigation_bar a:hover{
  box-shadow: inset 0 -50px 0 0 var(--color_hover);   /* Sliding transition referenced from 6 creative ideas for CSS Link Hover */
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  color: var(--color_primary);
}

.main{
  display: flex;
  align-items: center;
}

#hamburger_menu_icon{
  font-size: 50px;
  color: var(--color_primary);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px){
  header{
    padding: 20px 2%;
    transition: 0.4s;
  }
  .navigation_bar a{
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 600px){
  #hamburger_menu_icon{
    display: block;
  }
  .navigation_bar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 200px;
    height: 26vh;
    background: linear-gradient(to right, var(--color_page_background), var(--color_white));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
  .navigation_bar li a{
    display: block;
    margin: 15px 0;
    padding: 0px 18px;
    transition: all .50s ease;
    font-size:`18px;
    width: 90px;
  }
  .navigation_bar li a:hover{
    border-radius: 0%;
  }
  .navigation_bar li a.active{
    border-radius: 0%;
  }
  .navigation_bar.open{
    right: 2%;
  }
}


.nav-background{
  background-color: var(--color_page_background);
}












/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* WEBSITE FOOTER */

footer{
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-bottom: calc(25% - 50vh);
    position: bottom;
    bottom: 0;
    background: linear-gradient(to right, var(--color_button), var(--color_primary));
    color: var(--color_page_background);
    padding: 15px 10px 30px 0px;
    font-size: 13px;
    line-height: 15px;
}

.footer_row{
    width: 65%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_column{
    flex-basis: 50%;
    padding: 10px;
}

.footer_column h3{
  width: fit-content;
  margin-bottom: 30px;
  position: relative;
  font-size: 19px;
}

.footer_column p{
  list-style: none;
  margin-bottom: 14px;
  font-size: 14px;
  max-width: 200px;   /*Controls the 1st paragraph so it balances white space with the rest of the elements*/
  color: var(--color_white);
}

.footer_column p a{
  text-decoration: underline;
  color: var(--color_white);
}

.footer_column p:hover a {
  color: var(--color_hover);
}

.footer_column form{
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--color_white);
  margin-bottom: 50px;
}

.footer_column form .far{
  font-size: 18px;
  margin-right: 10px;
}

.footer_column form input{
  width: 100%;
  background: transparent;
  color: var(--color_white);
  border: 0;
  outline: none;
  font-size: 14px;
}

.footer_column form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.footer_column form button .fas{
  font-size: 16px;
  color: var(--color_white);
}

.footer_column .footer_contact a{
  text-decoration: none;
  font-size: 16px;
  color: var(--color_white);
}

.footer_column .footer_contact:hover a{
  color: var(--color_hover);
}

.footer_column p a{
  text-decoration: underline;
  color: var(--color_white);
}

.footer_column p:hover a {
  color: var(--color_hover);
}


.copyright{
  text-align: center;
  margin-bottom: -15px;
}

.underline{
  width: 100%;
  height: 4px;
  background: var(--color_white); /* Resorted to using colour code instead of variable for underline since the latter wasn't functional */
  border-radius: 3px;
  position: absolute;
  top: 22px;
  left: 0;
}


@media (max-width: 700px){
    footer{
        bottom: unset;
    }

    .footer_column{
        flex-basis: 100%;
    }
}









/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* STYLE GUIDE SPECIFIC STYLING */

.element {
  margin-top: 8rem;
  margin: 2rem;
  border-top-style: solid;
  border-top-width: 0.15rem;
  border-top-color: var(--color_primary);
}











/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* COLOUR AND FONT SECTION STYLING */

.colour_labels {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.primary_color_square {
  height: 220px;
  width: 220px;
  background-color: var(--color_primary);
  margin: auto;
}

.hover_color_square {
  height: 220px;
  width: 220px;
  background-color: var(--color_hover);
  margin: auto;
}

.button_color_square {
  height: 220px;
  width: 220px;
  background-color: var(--color_button);
  margin: auto;
}

.background_color_square {
  height: 220px;
  width: 220px;
  border: 2px solid var(--color_primary);
  background-color: var(--color_page_background);
  margin: auto;
}

.geonik_pro_regular_sample_font{
  font-size: 18px;
  line-height: 20px;
  font-family: 'Geonik-Pro-Regular', sans-serif;
}

.noto_sans_regular_sample_font{
  font-size: 18px;
  line-height: 20px;
  font-family: 'Noto-Sans-Regular', sans-serif;
}





/*---------------------------------------------------------------------------------*/

.colour_palette_container {   /* Used "HOW TO - Responsive Form" tutorial from W3schools */
  padding-top: 20px;
  margin: auto;
  border: 1px solid var(--color_page_background);
  border-radius: 5px;
  font: 12px 'Noto-Sans-Regular', sans-serif;
  overflow: hidden;
  width: 100%;
  background: var(--color_page_background);
}

/* Column grids for font and colour
   Used "How to Create an Image Grid Gallery" tutorial from dcode. */
.colour_palette_grid {
  --gap: 30px;
  --col_count: 4;
  --row_height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.colour_palette_grid_element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*---------------------------------------------------------------------------------*/

.portfolio_font_container {
  padding-left: 10px;
  margin: auto;
  border: 1px solid var(--color_page_background);
  border-radius: 5px;
  font: 16px 'Noto-Sans-Regular', sans-serif;
  overflow: hidden;
  width: 900px;
  text-align: center;
  background: var(--color_page_background);
}

.portfolio_font_grid {
  --gap: 20px;
  --col_count: 2;
  --row_height: 120px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.porfolio_font_grid_element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}












/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
 /* INTERACTIVE ELEMENTS SECTION */
