/*
  STYLE GUIDE STYLING
*/

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* GENERAL STYLING */

@font-face {
  font-family:"Geonik-Pro-Regular";
  src: url("../fonts/Geonik-Pro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Noto-Sans-Regular";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  --color_primary: #3D405B;
  --color_hover: #A5FFD6;
  --color_button: #166379;
  --color_page_background: #EDF2F4;

  font-size: 18px;
  line-height: 20px;
  font-family: 'Noto-Sans-Regular', sans-serif;
}

code {
  background-color: var(--color_page_background);
  padding: 0.5rem;
  display: block;
}







/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* TITLE ELEMENTS */

.portfolio_title_large
.portfolio_title_medium
.portfolio_title_small{
  padding: 0.6rem 0;
  text-transform: capitalize;
  font-family: 'Noto-Sans-Regular';
}

.portfolio_title_large{
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.portfolio_title_medium {
  font-size: 2rem;
  text-align: center;
}

.portfolio_title_small {
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
}

.portfolio_text_light {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
  margin: 0.2rem 0;
  text-align: center;
}









/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* STYLE GUIDE SPECIFIC STYLING */

.element {
  margin-top: 8rem;
  margin: 2rem;
  border-top-style: solid;
  border-top-width: 0.15rem;
  border-top-color: var(--color_primary);
}











/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* COLOUR AND FONT SECTION STYLING */

.colour_labels {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.primary_color_square {
  height: 220px;
  width: 220px;
  background-color: var(--color_primary);
  margin: auto;
}

.hover_color_square {
  height: 220px;
  width: 220px;
  background-color: var(--color_hover);
  margin: auto;
}

.button_color_square {
  height: 220px;
  width: 220px;
  background-color: var(--color_button);
  margin: auto;
}

.background_color_square {
  height: 220px;
  width: 220px;
  border: 2px solid var(--color_primary);
  background-color: var(--color_page_background);
  margin: auto;
}

.geonik_pro_regular_sample_font{
  font-size: 18px;
  line-height: 20px;
  font-family: 'Geonik-Pro-Regular', sans-serif;
}

.noto_sans_regular_sample_font{
  font-size: 18px;
  line-height: 20px;
  font-family: 'Noto-Sans-Regular', sans-serif;
}





/*---------------------------------------------------------------------------------*/

.colour_palette_container {   /* Used "HOW TO - Responsive Form" tutorial from W3schools */
  padding-top: 20px;
  margin: auto;
  border: 1px solid var(--color_page_background);
  border-radius: 5px;
  font: 12px 'Noto-Sans-Regular', sans-serif;
  overflow: hidden;
  width: 100%;
  background: var(--color_page_background);
}

/* Column grids for font and colour */
.colour_palette_grid {
  --gap: 30px;
  --col_count: 4;
  --row_height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.colour_palette_grid_element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*---------------------------------------------------------------------------------*/

.portfolio_font_container {
  padding-left: 10px;
  margin: auto;
  border: 1px solid var(--color_page_background);
  border-radius: 5px;
  font: 16px 'Noto-Sans-Regular', sans-serif;
  overflow: hidden;
  width: 900px;
  text-align: center;
  background: var(--color_page_background);
}

.portfolio_font_grid {
  --gap: 20px;
  --col_count: 2;
  --row_height: 120px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.porfolio_font_grid_element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}












/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/
 /* INTERACTIVE ELEMENTS SECTION */
