/*
  SAHIL'S PORTFOLIO STYLING
*/

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* GENERAL STYLING */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family:"Geonik-Pro-Regular";
  src: url("../fonts/Geonik-Pro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Noto-Sans-Regular";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  --color_primary: #3D405B;
  --color_hover: #A5FFD6;
  --color_button: #166379;
  --color_page_background: #EDF2F4;
  --color_white: #FFFFFF;

  font-size: 18px;
  line-height: 20px;
  font-family: 'Noto-Sans-Regular', sans-serif;
  background-color: var(--color_white);
}

code {
  padding: 0.5rem;
  display: block;
}

.top_space{
  padding-top: 80px;
}

.bottom_space{
  padding-top: 80px;
}





/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* TITLE ELEMENTS */

/* CSS format from "Ecommerce Product Page Design" tutorial by GeekProbin */
.portfolio_title_large
.portfolio_title_medium
.portfolio_title_small{
  padding: 0.6rem 0;
  text-transform: capitalize;
  font-family: 'Noto-Sans-Regular';
}

.portfolio_title_large{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.portfolio_title_medium {
  font-size: 2rem;
  text-align: center;
}

.portfolio_title_small {
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
}

.portfolio_text_light {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
  margin: 0.2rem 0;
  text-align: center;
}







/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* NAVIGATION HEADER */

header{
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color_page_background);   /* Changed background property in header to add colour to entire header element */
  padding: 28px 12%;
  transition: all .50s ease;
}

.header{
  height: 100vh;
  width: 100%;
  padding: 0 0%;
  position: relative;
}

nav{
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: right;
  width: 70px;
}

.logo i{
  color: var(--color_primary);
  font-size: 28px;
  margin-right: 3px;
}

.logo span{
  color: var(--color_primary);
  font-size: 1.7rem;
  font-weight: 600;
}

.navigation_bar{
  display: flex;
}

.navigation_bar li{
  display: inline-block;
}

.navigation_bar li a{
  color: var(--color_primary);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  box-shadow: inset 0 0 0 0 var(--color_button);
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  position: relative;
}

.navigation_bar a:hover{
  box-shadow: inset 0 -50px 0 0 var(--color_hover);   /* Sliding transition referenced from 6 creative ideas for CSS Link Hover */
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  color: var(--color_primary);
}

.main{
  display: flex;
  align-items: center;
}

/* Problem identified - hamburger_menu_icon as a ID can only be referenced once per page. As of now, it is
   only functional on Home Page */
#hamburger_menu_icon{
  font-size: 50px;
  color: var(--color_primary);
  cursor: pointer;
  z-index: 10001;
  display: none;
}





@media (max-width: 1280px){
  header{
    padding: 20px 2%;
    transition: 0.4s;
  }
  .navigation_bar a{
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 600px){
  #hamburger_menu_icon{
    display: block;
  }
  .navigation_bar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 200px;
    height: 26vh;
    background: linear-gradient(to right, var(--color_page_background), var(--color_white));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }
  .navigation_bar li a{
    display: block;
    margin: 15px 0;
    padding: 0px 18px;
    transition: all .50s ease;
    font-size:`18px;
    width: 90px;
  }
  .navigation_bar li a:hover{
    border-radius: 0%;
  }
  .navigation_bar li a.active{
    border-radius: 0%;
  }
  .navigation_bar.open{
    right: 2%;
  }
}







/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* WEBSITE FOOTER */

footer{
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-bottom: calc(25% - 50vh);
    position: bottom;
    bottom: 0;
    background: linear-gradient(to right, var(--color_button), var(--color_primary));
    color: var(--color_page_background);
    padding: 15px 10px 30px 0px;
    font-size: 13px;
    line-height: 15px;
}

.footer_row{
    width: 65%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_column{
    flex-basis: 50%;
    padding: 10px;
}

.footer_column h3{
  width: fit-content;
  margin-bottom: 30px;
  position: relative;
  font-size: 19px;
}

.footer_column p{
  list-style: none;
  margin-bottom: 14px;
  font-size: 14px;
  max-width: 200px;   /*Controls the 1st paragraph so it balances white space with the rest of the elements*/
  color: var(--color_white);
}

.footer_column p a{
  text-decoration: underline;
  color: var(--color_white);
}

.footer_column p:hover a {
  color: var(--color_hover);
}

.footer_column form{
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--color_white);
  margin-bottom: 50px;
}

.footer_column form .far{
  font-size: 18px;
  margin-right: 10px;
}

.footer_column form input{
  width: 100%;
  background: transparent;
  color: var(--color_white);
  border: 0;
  outline: none;
  font-size: 14px;
}

.footer_column form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.footer_column form button .fas{
  font-size: 16px;
  color: var(--color_white);
}

.footer_column .footer_contact a{
  text-decoration: none;
  font-size: 16px;
  color: var(--color_white);
}

.footer_column .footer_contact:hover a{
  color: var(--color_hover);
}

.footer_column p a{
  text-decoration: underline;
  color: var(--color_white);
}

.footer_column p:hover a {
  color: var(--color_hover);
}


.copyright{
  text-align: center;
  margin-bottom: -15px;
}

.underline{
  width: 100%;
  height: 4px;
  background: var(--color_white); /* Resorted to using colour code instead of variable for underline since the latter wasn't functional */
  border-radius: 3px;
  position: absolute;
  top: 22px;
  left: 0;
}


@media screen and (max-width: 1380px) {
  .footer_column{
      flex-basis: 50%;
  }
}

@media screen and (max-width: 1100px) {
  .footer_column{
      flex-basis: 80%;
  }
}

@media screen and (max-width: 650px) {
  footer{
      bottom: unset;
  }
  .footer_column{
      flex-basis: 100%;
  }
}





/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* HOME PAGE VIDEO BACKGROUND + PAGE TITLE */

.back-video{
    width: 92vw;
    margin-left: calc(50% - 46vw);
    margin-top: calc(25% - 51vh);
    height: 92vh;
    position: relative;
    z-index: -100;
}

.back-image{
    width: 92vw;
    margin-left: calc(50% - 46vw);
    margin-top: calc(25% - 51vh);
    height: 92vh;
    position: relative;
    z-index: -100;
}

.page_title{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 35%;
  width: 90%;
  max-width: 900px;
  transform: translate(-50%, -50%);
  color: var(--color_white);
}

.page_title h1{
  font-size: 52px;
  text-shadow: 0px 0px 10px var(--color_primary);
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.page_title h2{
  font-size: 30px;
  text-shadow: 0px 0px 7px var(--color_primary);
  font-weight: 100;
  letter-spacing: 3px;
  word-spacing: 8px;
}






@media screen and (max-width: 1380px) {
  .page_title{
    top: 35%;
  }
  .page_title h1{
    font-size: 47px;
    margin-bottom: 30px;
  }
  .page_title h2{
    font-size: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .page_title{
    top: 34%;
  }
  .page_title h1{
    font-size: 42px;
    margin-bottom: 25px;
  }
  .page_title h2{
    font-size: 25px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 800px) {
  .page_title{
    top: 33%;
  }
  .page_title h1{
    font-size: 37px;
    margin-bottom: 20px;
  }
  .page_title h2{
    font-size: 20px;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 650px) {
  .page_title{
    top: 32%;
  }
  .page_title h1{
    font-size: 27px;
    margin-bottom: 10px;
  }

  .page_title h2{
    font-size: 15px;
    letter-spacing: 1px;
  }
}












/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* HOME PAGE IMAGE ARRAY + DESCRIPTION         (Referenced "How to Create an Image Grid Gallery" video) */

.image_grid {
  --gap: 50px;
  --col_count: 3;
  --row_height: 400px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.image_grid > img {
  width: 100%;
  height: 100%;
  object-fit: contain
}

.image_grid_element {
  width: 100%;
  height: 100%;
  object-fit: contain;
}






@media screen and (max-width: 1380px) {
  .image_grid{
    --row_height: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .image_grid{
    --col_count: 2;
    --row_height: 250px;
  }
}

@media screen and (max-width: 650px) {
  .image_grid{
    --col_count: 1;
    --row_height: 350px;
  }
}






/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* ARTWORK GALLERY HOME PAGE ELEMENTS */

.artwork_container{
    width: 88vw;
    margin: 0 auto;
}

.artwork{
    position: relative;
}

.artwork_content{
    /*background: var(--color_hover);*/
    cursor: pointer;
}

.artwork_img_container{
    background: var(--color_white);
    box-shadow: 0 0 20px 10px var(--color_white);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.artwork_img_container img, video{
    width: 400px;
    height: 400px;
    border-radius: 5%;
    transition: background 0.5s ease;
    position: relative;
    width: 25%;

    display: block;
    width: 100%;
    height: auto;
}

.artwork_description_overlay{
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.6s ease;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(color_page_background);
}

.artwork_description_overlay:hover{
    opacity: 1;
}

.artwork_description{
    background: var(--color_white);
    width: 400px;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;

    color: var(--color_primary);
    font-size: 25px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    /* webkit-filter: blur(1px);
       filter: blur(1px); */
}

.artwork_description:hover{
    opacity: 1;
}

.artwork_info{
    background: var(--color_white);
    padding: 2rem;
}

.artwork_img_container img, video{
  transition: transform 0.6s ease;
}

.artwork:hover .artwork_img_container img{
    transform: scale(1.05);
    webkit-filter: blur(2px);
    filter: blur(2px);
}

.artwork:hover .artwork_img_container video{
    transform: scale(1.05);
    webkit-filter: blur(2px);
    filter: blur(2px);
  }

.artwork:hover .artwork_img_container{
    background: var(--color_primary);
}

.artwork:hover .artwork_description{
    opacity: 1;
}






@media screen and (max-width: 1380px) {
  .artwork_img_container{
    width: 300px;
    height: 300px;
  }
  .artwork_description{
    width: 300px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .artwork_img_container{
    width: 250px;
    height: 250px;
  }
  .artwork_description{
    width: 250px;
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 650px) {
  .artwork_img_container{
    width: 350px;
    height: 350px;
  }
  .artwork_description{
    width: 350px;
    font-size: 20px;
    line-height: 35px;
    top: 53%;
  }
}








/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* ABOUT ME PAGE */

.about_me_title{
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0;
  margin-left: 30%;
  text-align: left;
}

.about_me_description{
  font-size: 22px;
  line-height: 34px;
  margin-top: 3%;
  margin-left: 30%;
  text-align: left;
  max-width: 600px;
}

.about_me_bottom_space{
  padding-bottom: 120px;
}


.about_me_image_grid {
  --gap: 50px;
  --col_count: 2;
  --row_height: 350px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--col_count), 1fr);
  grid-auto-rows: var(--row_height);
  gap: var(--gap);
}

.about_me_image_grid > img {
  width: 100%;
  height: 100%;
  object-fit: contain
}

.about_me_image_grid_element {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about_img_container{
    background: var(--color_white);
    box-shadow: 0 0 20px 10px var(--color_white);
    width: 350px;
    height: 350px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.about_img_container img{
    width: 350px;
    height: 350px;
    border-radius: 5%;
    transition: background 0.5s ease;
    position: relative;
    width: 25%;

    display: block;
    width: 100%;
    height: auto;
}

.about_imagelink_description_overlay{
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.6s ease;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(color_page_background);
}

.about_imagelink_description_overlay:hover{
    opacity: 1;
}

.about_imagelink_description{
    background: transparent;
    width: 350px;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;

    color: var(--color_white);
    text-shadow: 1px 1px 3px var(--color_primary);
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.about_imagelink_description:hover{
    opacity: 1;
}

.about_img_container img, video{
  transition: transform 0.6s ease;
}

.artwork:hover .about_img_container img{
    transform: scale(1.05);
    webkit-filter: blur(2px);
    filter: blur(2px);
}









@media screen and (max-width: 1380px) {
  .about_me_title{
    font-size: 30px;
    margin-left: 27%;
  }
  .about_me_description{
    font-size: 20px;
    line-height: 30px;
    margin-left: 27%;
    max-width: 600px;
  }
  .about_me_image_grid{
    --row_height: 300px;
  }
  .about_img_container{
    width: 300px;
    height: 300px;
  }
  .about_imagelink_description{
    width: 300px;
    font-size: 28px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .about_me_title{
    font-size: 28px;
    margin-left: 23%;
  }
  .about_me_description{
    font-size: 16px;
    line-height: 28px;
    margin-left: 23%;
    max-width: 500px;
  }
  .about_me_image_grid{
    --col_count: 2;
    --row_height: 250px;
  }
  .about_img_container{
    width: 250px;
    height: 250px;
  }
  .about_imagelink_description{
    width: 250px;
    font-size: 23px;
    line-height: 30px;
  }
}

@media screen and (max-width: 650px) {
  .about_me_title{
    font-size: 24px;
    margin-left: 20%;
  }
  .about_me_description{
    font-size: 14px;
    line-height: 24px;
    margin-left: 20%;
    max-width: 400px;
  }
  .about_me_image_grid{
    --col_count: 1;
    --row_height: 250px;
  }
  .about_img_container{
    width: 250px;
    height: 250px;
  }
  .about_imagelink_description{
    width: 350px;
    font-size: 23px;
    line-height: 35px;
  }
}










/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* WORKS PAGE */

.works_title{
  font-size: 50px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0;
  text-align: center;
}

.works_bottom_space{
  padding-bottom: 40px;
}

.works_imagelink_description{
    background: transparent;
    width: 350px;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;

    color: var(--color_white);
    text-shadow: 1px 1px 3px var(--color_primary);
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.works_imagelink_description:hover{
    opacity: 1;
}







@media screen and (max-width: 1380px) {
  .works_imagelink_description{
    width: 300px;
    font-size: 28px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .works_imagelink_description{
    width: 250px;
    font-size: 23px;
    line-height: 30px;
  }
}

@media screen and (max-width: 650px) {
  .works_imagelink_description{
    width: 300px;
    font-size: 23px;
    line-height: 35px;
  }
}




/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* PROJECT 1 PAGE */

.project_1_content{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 7rem;
  align-items: center;
  padding: 0 5rem;
}

.project_1_image_content{
  position: relative;
  width: 570px;
  height: auto;
  /* border: 6px solid var(--color_page_background); */
}

.project_1_image{
  width: 550px;
  height: auto;
  position: relative;
}

.project_1_banner_image{
    width: 92vw;
    margin-left: calc(50% - 46vw);
    margin-top: calc(25% - 51vh);
    height: 92vh;
    position: relative;
    z-index: -100;
}

.project_1_image_textBox{
  position: absolute;
  bottom: -20%;
  right: -1rem;
  padding: 0.7rem;
  max-width: 600px;
  width: 100%;
  border: 6px solid var(--color_page_background);
  background-color: var(--color_white);
}

/* Spacing change for Figure 1 text box since it's contents take up only 1 line */
.project_1_figure_1_image_textBox{
  position: absolute;
  bottom: -17%;
  right: -1rem;
  padding: 0.7rem;
  max-width: 400px;
  width: 100%;
  border: 6px solid var(--color_page_background);
  background-color: var(--color_white);
}

.project_1_image_textBox .project_1_description .project_1_image_description{
  text-align: left;
}

.project_1_title{
  color: var(--color_primary);
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-bottom: 30px;
  text-align: center;
}
.project_1_header_title{
  position: absolute;
  text-align: center;
  line-height: 70px;
  font-size: 3rem;
  font-weight: 700;
  left: 50%;
  top: 60%;
  width: 90%;
  transform: translate(-50%, -50%);
  padding: 1.3rem 0;
  max-width: 900px;
  text-shadow: 0px 0px 15px var(--color_primary);
  color: var(--color_white);
}

.project_1_description{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 0px 0;
}

.project_1_image_description{
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0px 0;
}

.project_1_top_space{
  padding-top: 140px;
}

.project_1_bottom_space{
  padding-bottom: 200px;
}

.project_1_intro_section_bottom_space{
  padding-bottom: 160px;
}











/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* PROJECT 2 PAGE */

.project_2_content{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 7rem;
  align-items: center;
  padding: 0 5rem;
}

.project_2_image_content{
  position: relative;
  width: 570px;
  height: auto;
  /* border: 6px solid var(--color_page_background); */
}

.project_2_image{
  width: 550px;
  height: auto;
  position: relative;
}

.project_2_banner_image{
    width: 92vw;
    margin-left: calc(50% - 46vw);
    margin-top: calc(25% - 51vh);
    height: 92vh;
    position: relative;
    z-index: -100;
}

.project_2_image_textBox{
  position: absolute;
  bottom: -13%;
  right: -1rem;
  padding: 0.7rem;
  max-width: 600px;
  width: 100%;
  border: 6px solid var(--color_page_background);
  background-color: var(--color_white);
}

/* Spacing change for Figure 1 text box since it's contents take up only 1 line */
.project_2_figure_1_image_textBox{
  position: absolute;
  bottom: -23%;
  right: -1rem;
  padding: 0.7rem;
  max-width: 400px;
  width: 100%;
  border: 6px solid var(--color_page_background);
  background-color: var(--color_white);
}

.project_2_image_textBox .project_2_description .project_2_image_description{
  text-align: left;
}

.project_2_title{
  color: var(--color_primary);
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-bottom: 30px;
  text-align: center;
}
.project_2_header_title{
  position: absolute;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  left: 50%;
  top: 60%;
  width: 90%;
  transform: translate(-50%, -50%);
  padding: 1.3rem 0;
  max-width: 900px;
  text-shadow: 0px 0px 15px var(--color_primary);
  color: var(--color_white);
}

.project_2_description{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 0px 0;
}

.project_2_image_description{
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0px 0;
}

.project_2_top_space{
  padding-top: 140px;
}

.project_2_bottom_space{
  padding-bottom: 200px;
}

.project_2_intro_section_bottom_space{
  padding-bottom: 160px;
}








/* Activates in accordance with media query */
.project_mobile_view_spacing_1{
  padding-bottom: 0px;
}

.project_mobile_view_spacing_2{
  padding-bottom: 0px;
}

.project_mobile_view_spacing_3{
  padding-bottom: 0px;
}



@media screen and (max-width: 1200px) {
  .project_1_content{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 7rem;
    align-items: center;
    padding: 0 5rem;
  }

  .project_2_content{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 7rem;
    align-items: center;
    padding: 0 5rem;
  }

  .project_mobile_view_spacing_1{
    padding-bottom: 120px;
  }

  .project_mobile_view_spacing_2{
    padding-bottom: 80px;
  }

  .project_mobile_view_spacing_3{
    padding-bottom: 150px;
  }
}








/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* FEEDBACK FORM */

.feedback_title{
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
  color: var(--color_white);
}

.feedback_form_backdrop{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-top: calc(50% - 92vh);
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3), var(--color_button)), url(../img/Project_1_Header.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback_form form{
  width: 800px;
}

.feedback_input_group{
  margin-bottom: 30px;
  position: relative;
  margin-right: 12px;
  width: 99%;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.feedback_input_group .feed {
    padding: 14px 0px 14px 50px;
    outline: none;
    letter-spacing: 1px;
    border-radius: 3px;
    color: var(--color_white);
    font-size: 14px;
}

.feedback_form input, textarea{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid var(--color_white);
  color: var(--color_white);
  background: transparent;
  font-size: 15px;
}

.feedback_form .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: var(--color_white);
    background: transparent;
    border-radius: 2px 0 0 2px;
    font-size: 20px;
    border-right: none;
}

.feedback_form label{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: var(--color_white);
  cursor: text;
}

.feedback_form button {
  padding: 10px 0;
  color: var(--color_white);
  outline: none;
  background: transparent;
  border: 1px solid var(--color_white);
  width: 100%;
  cursor: pointer;
}

.feed:hover{
    border-color: var(--color_hover);
}

.feed:focus{
    border-color: var(--color_white);
    border: 2px solid var(--color_white);
}

.feedback_form_row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback_form_row .feedback_input_group{
  flex-basis: 48%;
}

.feedback_form ::placeholder{
  color: var(--color_white);
}

.feedback_bottom_space{
  padding-bottom: 110px;
}













/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* POP-UP ALERT NOTIFICATION ELEMENT */

.my-btn{
	margin:0;
	padding:400px;
	font-family: sans-serif;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.hidden{
	visibility: hidden;
}

.alert_box {
    background: var(--color_page_background);
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;     /* Allows the alert_box to be stationary on the page as it scrolls */
    right: 0px;
    top: 30px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid var(--color_button);
}

.alert_box .close_alert_button{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color_button);
    padding: 20px 18px;
    cursor: pointer;
}

.alert_box .alert_box_message{
    padding: 0 20px;
    font-size: 18px;
    color: var(--color_button);
}

.alert_box .fa-heart{
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color_button);
    font-size: 25px;
}

.close_alert_button{
  background: var(--color_white);
}

.close_alert_button .fa-times{
    color: var(--color_white);
    font-size: 22px;
    line-height: 40px;
}

.alert_box.show::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--color_primary);
  width: 90%;
  box-sizing: border-box;
	animation: hideMeter 5s linear;
}

@keyframes hideMeter {
	0%{
		width: 100%;
	}
	100%{
		width: 0%;
	}
}

 /* Show and hide CSS must be written together with alert_box as such */
.alert_box.show{
	animation: showAlert 1s ease forwards;
}
@keyframes showAlert{
	0%{
		transform: translateX(100%);
	}
	40%{
		transform: translateX(-15%);
	}
	80%{
	   transform: translateX(0%);
	}
	100%{
	   transform: translateX(-10px);
	}
}

.alert_box.hide{
	animation: hideAlert 1s ease forwards;
}

@keyframes hideAlert{
	0%{
		transform: translateX(-10px);
	}
	40%{
		transform: translateX(0%);
	}
	80%{
		transform: translateX(-15%);
	}
	100%{
	   transform: translateX(100%);
	}
}













/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* REFERENCES LIST */

.references_list_backdrop{
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 130vh;
  background-image: linear-gradient(rgba(0,0,0,0.1), var(--color_button)), url(../img/Shiba_Ending.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.references_list{
  max-width: 1400px;
  color: var(color_white);
}

.references_list h2{
  margin-top: 0px;
  margin-bottom: 40px;
}

.references_list h3{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 25px;
}

.references_list ul li{
  list-style: none;
  margin-bottom: 14px;
  font-size: 14px;
  margin-left: 50px;
  color: var(color_white);
}

.references_list ul li a{
  text-decoration: underline;
}
