/*
  SAHIL'S PORTFOLIO STYLING
*/

/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* GENERAL STYLING */

@font-face {
  font-family:"Geonik-Pro-Regular";
  src: url("../fonts/Geonik-Pro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"Noto-Sans-Regular";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  --color_primary: #3D405B;
  --color_hover: #A5FFD6;
  --color_button: #166379;
  --color_page_background: #EDF2F4;

  font-size: 18px;
  line-height: 20px;
  font-family: 'Noto-Sans-Regular', sans-serif;
}

code {
  background-color: var(--color_page_background);
  padding: 0.5rem;
  display: block;
}








/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* TITLE ELEMENTS */

/* CSS format from "Ecommerce Product Page Design" tutorial by GeekProbin */
.portfolio_title_large
.portfolio_title_medium
.portfolio_title_small{
  padding: 0.6rem 0;
  text-transform: capitalize;
  font-family: 'Noto-Sans-Regular';
}

.portfolio_title_large{
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}

.portfolio_title_medium {
  font-size: 2rem;
  text-align: center;
}

.portfolio_title_small {
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
}

.portfolio_text_light {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
  margin: 0.2rem 0;
  text-align: center;
}
